
[submodule "projects/web-development/frontend/product-landing-page"]
	path = projects/web-development/frontend/product-landing-page
	url = https://github.com/code-a2z/product-landing-page.git

[submodule "projects/web-development/backend/text-extraction-ocr"]
	path = projects/web-development/backend/text-extraction-ocr
	url = https://github.com/Code-A2Z/text-extraction-ocr.git

